@import "../sidebarLectureGroup/sidebarLectureGroup";

.video-lecture-container {
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: black;
    margin: 0 auto 0 $sidebar-width;
}

.video-lecture-content {
    padding-left: 20%;
}
