.lecture-icon {
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
    color: grey;
}

.lecture-title {
    display: table-cell;
    vertical-align: top;
    font-size: 18px;
    color: black;
}
