.course-container {
    display: block;
    overflow: visible;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    position: relative;
    margin-top: 20px;
}

.course-container:hover {
    cursor: hand;
    cursor: pointer;
}

.collapsible-content-container {
    margin: 0px;
}

.course-name {
    display: table-cell;
    vertical-align: top;
    margin-left: left;
    font-size: 24px !important;
    width: 90%;
}

.course-dropdown-icon {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
}

.course-settings-icon {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
}

.course-settings-icon:hover {
    cursor: hand;
    cursor: pointer;
    -webkit-transform: scale(1.2);
}

/*don't use .dropdown-list as it is declared in materialize-css*/
.course-dropdown-list {
    display: none;
    position: absolute;
    margin-left: -150px;
    background-color: white;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.course-dropdown-list a {
    color: black;
    padding-left: 15px;
    font-size: 18px;
}

.course-dropdown-list li:hover{
    background-color: #EEE;
    cursor: hand;
    cursor: pointer;
}

.course-rename-form {
    padding: 0px 25px 15px;
}
