$sidebar-width: 300px;
$icon-side: 24px;
$horizontal-padding: 16px;

.playlist-icon {
    display: table-cell;
    vertical-align: middle;
    float: right;
}

.playlist-icon:hover {
    -webkit-transform: scale(1.2);
}

.playlist-dropdown {
    position: relative;
    display: inline-block;
}

.playlist-title {
    font-size: 14px;
    display: table-cell;
    vertical-align: top;
    float: left;
    width: $sidebar-width - $horizontal-padding - $horizontal-padding - $icon-side;
    font-weight: bold;
}

.playlist {
    display: block;
    padding: 8px $horizontal-padding 8px $horizontal-padding;
    text-decoration: none;
    transition: 0.3s;
    overflow: auto;
    position: relative;
    border-bottom: 0.1px solid grey;
}

.playlist:hover {
    cursor: pointer;
    cursor: hand;
    background-color: #EEE;
}
