.navbar-logo {
    margin-left: 24px;
    color: black;
    font-size: 28px;
}

.navbar-menu {
    color: black;
    margin-right: 24px;
}

.navbar-menu:hover {
    cursor: pointer;
    cursor: hand;
}
